<div class="row watched-directory" > 					<!-- watched directory -->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">	<!-- wd col -->
	<div class="row current-directory">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h4>Current: {{current}}</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		{{#each contents}}
		<div class="row {{alternateClass @index 'file'}}">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 directory-status">
				<a 	href='{{resourcePath value ../current}}' 
					class='{{entryClass value}}'>
				{{relativePath value.file ../current}}
				</a>
			</div>
		</div>
		{{/each}}
		</div>
	</div>
</div> <!-- 'wd col --> 
</div> <!-- 'watched directory -->
